<div class="container">
  <h1>Hello Angular!</h1>

  <!-- Bindings:
    - One-way: {{variable}}
  -->

  <p>This is: <strong>{{title}}</strong></p>
  <div>
    <button (click)="changeTitle()">Change Title</button>
  </div>

  @for (i of users; track i.id) {
  <app-user-card (removeEvent)="removeUser($event)" [user]="i"></app-user-card>
  }

  @if(users.length == 0) {
  <img height="300" src="https://cdn.dribbble.com/users/860366/screenshots/6364054/desolazione_empty_1.gif" alt="">
  }

  <p>* Double click to delete user item.</p>
</div>