<!-- Attribute Directives: [class.name]="condition" -->

<!-- Pipes: uppercase lowercase date percent decimal currency -->

<!-- Event Binding: (event)="handler(params)" -->

<div class="user-card" [class.admin]="user.admin" (dblclick)="remove()">
    <h4>User Card</h4>
    <p>Name: {{user.name | upperFirst}}</p>
    <p>Email: {{user.email | lowercase}}</p>
    <p>Birth: {{(user.birthdate | date:'longDate') ?? "no data"}}</p>
    <p>
        <span>Admin: {{user.admin ? "Yes" : "No"}}</span>
        <button (click)="changeRole()">Change</button>
    </p>
</div>